@import url(/assets/css/reset.css);
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;500;600;700;800&display=swap');
*{
    text-decoration: none;
    color: #fff;
}
body{
    font-family: 'Open Sans', sans-serif;
    background-color: #08101e;
}
.overlay-menu{
    height: 100vh;
    position: fixed;
    background-color:#08101ee0;
    width: 100%;
    overflow-x: hidden;
    transition: 1.2s ease;
}
.overlay-menu .fa-xmark{
    position: absolute;
    font-size: 20px;
    top: 50px;
    right: 40px;
}
.overlay-nav-links{
    display: flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    gap: 10px;
}
.overlay-nav-links a:hover{
    transition: 1.2s ease;
    transform: translateX(20px);
}
.header-section{
    padding: 20px 20px 0 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
 .logo img{
    width: 200px;
 }
.nav-links , .sign-in{
    display: none;
}
.logo{
    width: 100px;
}
.introduction{
    padding: 10px;
    display: flex;
    flex-direction: column-reverse;
}
.intro-left-side h6{
    margin-top: 50px;
    color: #3A68B8;
    font-weight: 600;
}
.intro-left-side h1{
    padding: 20px 0 10px 0;
    font-size: 26px;
    font-weight: 800;
}
.intro-left-side p{
    width: 260px;
    padding-bottom: 30px;
    font-weight: 400;
    color: #a0a2a7
}
.intro-left-side a{
    border: 1px solid transparent;
    border-radius: 3px;
    background-color: #3A68B8;
    padding: 10px 20px;
}
.w-video{
    padding: 5px 5px 0 0;
    width: 13px;
}
.intro-right-side{
    width: 300px;
}
.intro-right-side img{
    width: 100%;
}
.apply_al{
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.apply-left-side{
    width: 300px;
}
.apply-left-side img{
    padding: 50px 0;
    width: 100%;
}
.apply-right-side h1{
    font-size: 23px;
    font-weight: 800;
}
.apply-right-side p{
    width: 300px;
    color: #a0a2a7;
}
.apply-right-side div {
    display: inline-flex;
    background-color: #3A68B8;
    padding: 15px;
    font-size: 16px;
    font-weight: 600;
    border: 1px solid transparent;
    border-radius: 3px;
}  
.awards-container{
    padding-left: 10px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 20px;
}
.awards{
    width: 90%;
    text-align: center;
    border-radius: 5px;
    background-image: linear-gradient(to bottom, #0e1523,#18202c);
    transition: 1.2s ease;
}
.awards img{
    padding-top: 10px;
    width: 70px;
}
.awards h1, p{
    padding:10px 5px 10px 5px ;
    color: #b8bbbe;
}
.awards h1{
    font-weight: 700;
}
.awards:hover{
    box-shadow: 10px 10px 20px  rgba(255, 255, 255, .2);
}
.clients{
    display: flex;
    flex-direction: column-reverse;
}
.clients-right-side img {
    padding:50px 10px;
    width: 300px;
}
.clients-left-side{
    padding: 10px;
}
.clients-left-side h1{
    font-size: 22px;
    font-weight: 700;
}
.clients-left-side p{
    color: #b8bbbe;
}  
.footer{
    padding-left: 10px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 30px;
}
.footer a{
    color: #fff;
}
.columns{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.columns a{
    color: #a0a2a7;
}
.columns h2{
    padding-top: 10px;
    font-size: 20px;
    font-weight: 500 ;
}  
.column-left .logo-robot{
    padding: 10px;

}
.column-right h3{
    padding-top: 10px;
}
.social-icons{
    padding: 10px;
}
.social-icons i{
    color: #a0a2a7;
}
select{
    padding-top: 10px;
    background-color: transparent;
    border: none;
}
select option{
    background-color: #060e1c;
}
@media(min-width:767px) {
        .fa-bars {
            display: none;
        }
        .nav-links, .sign-in{
            display: flex;
        }
        .nav-links a{
            font-weight:600;
           margin-right: 15px;
        }
        .sign-in{
            background-color: #3A68B8;
            padding: 10px 20px;
            border: 1px solid transparent;
            border-radius: 3px;
        }
        .logo {
            margin-right: 60px;
        }
        .introduction{
            padding: 0 50px 0 50px;
            flex-direction: row;
        }
        .intro-left-side h6{
            padding-top: 50px;
            font-size: 18px;
        }
        .intro-left-side h1{
            font-size: 30px;
        }
        .intro-left-side p{
            width: 370px;
        }      
        .intro-right-side img{
            padding: 70px 0 0 0;
            width: 100%;
        }         
        .apply_al{
            flex-direction: row;
        }
        .apply-left-side{
            width: 650px;
        }
        .apply-left-side img{
            width: 100%;
        }
        .apply-right-side h1{
            font-size: 30px;
            font-weight: 800;
        }
        .apply-right-side p{
            width: 370px;
            padding-bottom: 20px;
        }
        .clients{
            flex-direction: row;
        }
        .clients-right-side img{
            width: 360px;
        }
        .clients-left-side h1{
            padding: 50px 10px 10px 10px;
            font-size:30px ;
            font-weight: 800;
        }
        .clients-left-side{
            width: 358px;
        }
        .footer{
            padding-left: 20px;
        }
  }
@media(min-width:1080px){
    .nav-links {
        gap: 40px;
    }
    .logo img{
        /* padding-left: 50px; */
    }
    .header-section{
        padding: 20px 80px 0 100px;
    }
    .introduction{
        padding: 0 100px 0 100px;
    }
    .intro-left-side{
        padding-top: 90px;
    }
    .intro-left-side h1{
        font-size: 40px;
    }
    .intro-left-side p{
        width: 487px;
    }          
    .intro-right-side{
        width: 400px;
    }
    .intro-right-side img{
        padding-left: 120px;
        width: 100%;
    }
    .apply_al{
        padding: 0 100px ;
    }
    .apply-right-side h1{
        width: 500px;
        font-size: 40px;
        font-weight: 800;
    }
    .apply-left-side img{
        width: 500px;
    }
    .awards-container{
        padding: 10px 100px;
    }
    .clients{
        padding: 10px 100px;
    }
    .clients-right-side img{
        width: 490px;
    }
    .clients-left-side{
        padding: 50px 50px 0 0;
        width: 500px;
    }
    .clients-left-side h1{
        font-size: 34px;
    }
    /* !SWIPER */
    .swiper {
        width: 1000px;
        display: flex;
        align-items: center;
    }
    .swiper-wrapper{
        width: 100px;
    }
    .footer{
        padding: 10px 100px;
    }
    .columns{
        text-align: center;
        padding-top: 50px;
    }
    .column-right{
        padding-top: 50px;
    }




}
    